.content {
  margin: 0 auto;
  width: 800px;
}

#forest {
  font-family: monospace;
  font-size: 8px;
}

#forest .tree {
  display: inline-block;
  color: green;
  background-color: green;
}

#forest .burning {
  display: inline-block;
  color: red;
  background-color: red;
}

#forest .none {
  display: inline-block;
  color: brown;
  background-color: brown;
}

svg {
  border: 1px solid black;
}
