.content {
  margin: 0 auto;
  width: 800px;
}

svg {
  border: 1px solid black;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filter-slider {
  display: flex;
}

.filter-slider label {
  display: inline-block;
  padding-top: 5px;
}

.filter-slider label.name {
  width: 125px;
}

.filter-slider label.val {
  width: 50px;
}

.filters paper-slider {
  flex-grow: 1;
}

.filters input {
  flex-grow: 1;
  margin: 5px 20px;
}
